{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opensyslab | Blog</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <nav>
        <div class="logo"><a href="/" style="color:white; text-decoration:none;">Opensyslab</a></div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="#about">À propos</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <section>
        <div class="content-blog">
            <h2>Blog</h2>
            {% for article in articles %}
            <div class="article-preview">
                <img src="{{article.url}}" alt="{{article.slug}}">
                <div>
                    <h3><a href="article{{article.id}}">{{article.title}}</a></h3>
                    <p>{{article.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <footer>
        &copy; 2024 Opensyslab. Tous droits réservés. <br>
        <span id="datetime"></span>
    </footer>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
